/*Css de todos los div e imagenes */

main{
    position: relative;
    
}

.img-perro
{
width: 1200px;
position:relative ;
right: -400px;
background:#6dccaa;
}
.content-one{
    width: 100%;
    clear:both;
    
}

.content-portada{
    width: 100%;
    height: 600px;
    background: #6dccaa;
    margin-top: -550px;

}
@media screen and (max-width:1300px){
    .content-portada{
        background-size: 900px;
        margin-top: -275px;
    }
}

.content-piePagina img
{
display: flex;
float: right;
}
.img-face 
{
    width: 60px;
    position:relative ;
    right: 500px;
    top: 500px;
}

.img-google
{
    width: 60px;
    position:relative ;
    right: 300px;
    top: 500px;
}

.img-insta
{
    width: 70px;
    position:relative ;
    right: 300px;
    top: 500px;
}

.img-correo
{
    width: 55px;
    position:relative ;
    right: 100px;
    top: 505px;
}


.texto1{
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
    text-align: center;
    color: white;
}

.texto2{
    width: 90%;
    max-width: 800px;
    margin: auto;
    color: white;
    margin-left: 50px ;
    margin-top: -50px;
}


.content-fondo 
{
background: white;
width: 100%;
height: 600px;

}

.content-imagen22
{
    width: 49%;
    height: 400px;
    background: white ;
    float: left
}


.content-comida
{
    width: 50%;
    height: 555px;
    background: white(89, 0, 255) ;
  
float: right;


}

.content-rescate
{
margin-left: 62%;
margin-top:3%

}

.texto-largo2
{
  text-align: right; 
}

.content-text 
{
  
    text-align: right; 
}

.content-textol
{
    font-size: 90%;
    font-weight: normal;
    text-align: right; 
    margin-top: 3%;
    color: gray;
    font-family: 'Franklin Gothic Medium';
    

}

.content-textol2
{
    font-size: 90%;
    font-weight: normal; 
    margin-top: 3%;
    color: gray;
    font-family: 'Franklin Gothic Medium';
    

}
.img-comida 
{
    margin-top: 1%
}

.content-boton
{
    margin-top: 3%;  
    height: 80px;
}

.boton_1{
    
    text-decoration: none;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: helvetica;
    font-weight: bold;
    font-size: 15px;
    font-style: initial;
    color: #050505;
    background-color: #ffffff;
    border-radius: 0px;
    border: 2px double #000000;
   
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }


@media screen and (max-width:1300px)
{
 
    .img-perro
    {
    width: 500px;
    position:relative ;
    right: -400px;
    background:#7fc2af;
  
    }




}